.card-item{
  border-bottom: 1px solid #A5A5A5;
  margin-bottom: 10px;
  padding: 20px 0px 25px 0px;
}
.card-item__contend{
  display: grid;
  //grid-template-columns: repeat(2, 1fr 2fr);
  grid-template-columns: minmax(50px, 1fr) minmax(150px, 2fr) minmax(50px, 1fr) minmax(150px, 2fr);
}
.card-item__title{
  margin-bottom: 28px;
}
.card-item__title a{
  text-decoration: none;
  margin-left: 20px;
  &:hover{
    text-decoration: none;
  }
}
.card-item__title span{
  //color: #cccccc;
  //font-size: 10px;
}
