<div class="grid">
  <div class="main-content">
    <h1>{{ title }}</h1>
<!--      <app-card-->
<!--        *ngFor="let card of (cards | slice: lowValue : highValue)"-->
<!--        [card]="card"-->
<!--      ></app-card>-->
<!--    <app-card-->
<!--      *ngFor="let card of cards | filter:search"-->
<!--      [card]="card"-->
<!--    ></app-card>-->

    <app-card
      *ngFor="let card of modifyCards | paginate: config | filter:search"
      [card]="card"
    ></app-card>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

<!--    <mat-paginator [length]="cards.length"-->
<!--                   (page)="getPaginatorData($event)"-->
<!--                   pageSize=5-->
<!--                   showFirstLastButtons="false"-->
<!--                   hidePageSize="true"-->
<!--    >-->
<!--    </mat-paginator>-->

  </div>


  <div class="main-sidebar">
    <h2 class="main-sidebar__title">Фильтры</h2>



      <mat-form-field class="main-sidebar__search">
        <mat-label>Название</mat-label>
        <input matInput [(ngModel)]="search" name="search" >
      </mat-form-field>




    <mat-accordion class="main-sidebar__mat-expansion">
      <span class="main-sidebar__label">Порт</span>
      <mat-expansion-panel hideToggle class="mat-elevation-z">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Выбрано: {{port.selectedOptions.selected.length}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #port  [(ngModel)]="selectedPorts" (ngModelChange)="onGroupsChange($event)">
          <mat-list-option *ngFor="let port of ports" [value]="port">
            {{port.title}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>











  </div>


</div>





<router-outlet></router-outlet>
