<div class="grid">
  <div class="main-content">
    <h1>{{ title }}</h1>
<!--      <app-card-->
<!--        *ngFor="let card of (modifyCards | filter:search)"-->
<!--        [card]="card"-->
<!--      ></app-card>-->

    <app-card
      *ngFor="let card of (modifyCards | filter:search  | slice: lowValue : highValue)"
      [card]="card"
    ></app-card>
<!--    item in filterData = (totalItems | filter : {itemName: filterText}) | limitTo:3:3*(page-1)-->




    <mat-paginator [length]="modifyCards.length"
                   (page)="getPaginatorData($event)"
                   pageSize=5
                   showFirstLastButtons="false"
                   hidePageSize="true"
                   (page)="pageEvent = $event"
    >
    </mat-paginator>

      <div>Page index: <span *ngIf="pageEvent; else Zero">{{pageEvent.pageIndex}}</span></div>
    <ng-template #Zero>
      0
    </ng-template>


  </div>


  <div class="main-sidebar">
    <h2 class="main-sidebar__title">Фильтры</h2>


<!--    <mat-form-field>-->
<!--      <mat-label>Filter</mat-label>-->
<!--      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>-->
<!--    </mat-form-field>-->


      <mat-form-field class="main-sidebar__search">
        <mat-label>Название</mat-label>
        <input matInput [(ngModel)]="search" name="search" >
      </mat-form-field>




    <mat-accordion class="main-sidebar__mat-expansion">
      <span class="main-sidebar__label">Порт</span>
      <mat-expansion-panel hideToggle class="mat-elevation-z">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Выбрано: {{port.selectedOptions.selected.length}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #port  [(ngModel)]="selectedPorts" (ngModelChange)="onGroupsChange($event)">
          <mat-list-option *ngFor="let port of ports" [value]="port">
            {{port.title}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>











  </div>


</div>





<router-outlet></router-outlet>
